EnvName: prod
LogLevel: warn
BaseURL: https://castkeeper.example.com
DataDirPath: /app/data

WebServer:
  Port: 8080
  CSRFSecretKey: testValueDoNotUseInProd

ObjectStorage:
  Driver: awss3
  S3Bucket: my-castkeeper-bucket
  S3Prefix: podcasts/
