package partials

templ SubscribeSubmit(errText string) {
	if errText != "" {
		<div role="alert" class="alert alert-error">
			{ errText }
		</div>
	} else {
		<div role="alert" class="alert alert-success">
			Podcast added
		</div>
	}
}
