package components

const CSRFTokenInputName = "gorilla.csrf.Token" // #nosec G101 -- false positive, this is not a hardcoded credential

templ CSRFInput(token string) {
	<input type="hidden" name={ CSRFTokenInputName } value={ token }/>
}
